.btn-filled
  background: #79437A
  color: white
  padding: 10px 15px !important
  font-size: 14px
  font-weight: bolder

  &:hover
    background: lighten(#79437A, 7%)

.btn--purple-border
  border: 1px solid #79437A
  color: #79437A
  width: 25px !important
  height: 25px !important
  margin: 0 5px
  white-space: normal
  position: relative

  svg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    fill: #79437A !important

  &:hover
    background: #79437A
    color: white

    svg
      fill: white !important

.btn--gradient
  background: linear-gradient(to bottom, #D31BB0 0%, #EB6294 100%)
  color: white

  svg
    fill: white

  &:after
    content: ''
    width: 100%
    height: 100%
    border-radius: 50%
    background: rgba(red, .1)

.add-card-element
  width: 170px
  height: 130px
  background: lighten(#564C74, 60%)
  border-radius: 7px
  border: 2px dashed #564C74
  cursor: pointer
  margin: 15px
  transition: .5s
  position: relative

  &:hover
    background: lighten(#564C74, 55%)

  .icon
    @extend %absolute-centered

    svg 
      width: 45px
      height: 45px
      fill: #564C74
  
.card-element
  white-space: pre-line
  width: 170px
  height: 130px
  margin: 15px
  padding: 15px
  color: white
  font-size: 15px
  border-radius: 7px
  background: linear-gradient(to bottom, #564C74 0%, #463a6b 100%)
  background: #564C74